<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>About</title>
  <link rel="icon" href="/imgs/Weather Application Image Icon.png">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<div class="main-content">
  <body>
    {{> header}}
    <img class="portrait" src="/imgs/Placements 2.jpg">
</div>
</body>
  {{>footer}}


</html>
