<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>About</title>
  <link rel="icon" href="/imgs/Weather Application Image Icon.png">
  <link rel="stylesheet" href="/css/styles.css">
  This site was developed by Aniketh Bondada. It uses data from mapbox.com and darksy.net!

</head>

<div class="main-content">
    Hello Minnu. How does this look to reach you out?
  <body>
    {{> header}}
    <img class="portrait" src="/imgs/Placements 2.jpg">
</div>
</body>
  {{>footer}}


</html>
